
*{
    margin: 0;
    padding: 0;
}


header{
    background-color: rgb(255, 248, 245);
    background: url(img_logo/developer.png) , url(img_logo/header_bg.png) ,rgb(255, 248, 245);
    background-position: top left , bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.logo h3{
    font-size: 40px;
}
.world{
    color: coral;
    font-weight: 800;
}
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
  
  }

nav{
    width: 70%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .navigation{
display: flex;
list-style: none;
gap: 50px;
align-items: center;
}

nav .navigation a{
    font-size: 20px;
    color: rgb(72, 63, 63);
    text-decoration: none;
}

.btn{
    background-color: coral;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;
}


#banner{
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 500;
    color: black;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 75px;
    font-weight: bold;
    color: rgb(5, 4, 4);
    margin-bottom: 10px;
}

#banner .banner-content p{
    font-size: 18px;
    color: black;
    line-height: 30px;
    margin-bottom: 20px;
}

#banner .banner-image img{
    max-width: 585px;
}

#about {
    padding-top: 130px;
}

/* .section-heading{
    max-width: 827px;
    text-align: center;
} */
#about .about-container{
    width: 58%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(253, 244, 221);
    padding: 130px 155px;
}

  /* .section-heading{
    max-width: 827px;
    text-align: center;
}  */

.section-heading h2{
    font-size: 33px;
    margin-bottom: 26px;
}

.section-heading p{
    font-size: 16px;
    margin-bottom: 26px;
    line-height: 30px;
    color: rgb(64, 56, 56);
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
} 

.about-info .info-card p{
    font-size: 16px;
    line-height: 30px;
    color: rgb(64, 56, 56);
}

.about-info .info-card h4{
    font-size: 20px;
}